
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Out</title>
</head>
<body>
    <div> 
        @viewHelper.SearchBar("data2")
    </div>
</body>
</html>
